/*文字色*/
.gaming-color {
  animation: gaming-color 5s linear infinite;
}
@keyframes gaming-color {
  0% { color: Magenta; }
  33% { color: yellow; }
  66% { color: Cyan; }
  100% { color: Magenta; }
}

/*背景色*/
.gaming-background-color {
  animation: gaming-background-color 5s linear infinite
}
@keyframes gaming-background-color {
  0% { background-color: Magenta; }
  33% { background-color: yellow; }
  66% { background-color: Cyan; }
  100% { background-color: Magenta; }
}

/*線の色*/
.gaming-border-color {
  animation: gaming-border-color 5s linear infinite;
}
@keyframes gaming-border-color {
  0% { border-color: Magenta; }
  33% { border-color: yellow; }
  66% { border-color: Cyan; }
  100% { border-color: Magenta; }
}

.gaming-border-top-color {
  animation: gaming-border-top-color 5s linear infinite;
}
@keyframes gaming-border-top-color {
  0% { border-top-color: Magenta; }
  33% { border-top-color: yellow; }
  66% { border-top-color: Cyan; }
  100% { border-top-color: Magenta; }
}

.gaming-border-right-color {
  animation: gaming-border-right-color 5s linear infinite;
}
@keyframes gaming-border-right-color {
  0% { border-right-color: Magenta; }
  33% { border-right-color: yellow; }
  66% { border-right-color: Cyan; }
  100% { border-right-color: Magenta; }
}

.gaming-border-bottom-color {
  animation: gaming-border-bottom-color 5s linear infinite;
}
@keyframes gaming-border-bottom-color {
  0% { border-bottom-color: Magenta; }
  33% { border-bottom-color: yellow; }
  66% { border-bottom-color: Cyan; }
  100% { border-bottom-color: Magenta; }
}

.gaming-border-left-color {
  animation: gaming-border-left-color 5s linear infinite;
}
@keyframes gaming-border-left-color {
  0% { border-left-color: Magenta; }
  33% { border-left-color: yellow; }
  66% { border-left-color: Cyan; }
  100% { border-left-color: Magenta; }
}

.gaming-outline-color {
  animation: gaming-outline-color 5s linear infinite;
}
@keyframes gaming-outline-color {
  0% { outline-color: Magenta; }
  33% { outline-color: yellow; }
  66% { outline-color: Cyan; }
  100% { outline-color: Magenta; }
}

.gaming-text-decoration-color {
  animation: gaming-text-decoration-color 5s linear infinite;
}
@keyframes gaming-text-decoration-color {
  0% { text-decoration-color: Magenta; }
  33% { text-decoration-color: yellow; }
  66% { text-decoration-color: Cyan; }
  100% { text-decoration-color: Magenta; }
}

.gaming-border-inline-start-color {
  animation: gaming-border-inline-start-color 5s linear infinite;
}
@keyframes gaming-border-inline-start-color {
  0% { border-inline-start-color: Magenta; }
  33% { border-inline-start-color: yellow; }
  66% { border-inline-start-color: Cyan; }
  100% { border-inline-start-color: Magenta; }
}
.gaming-border-inline-end-color {
  animation: gaming-border-inline-end-color 5s linear infinite;
}
@keyframes gaming-border-inline-end-color {
  0% { border-inline-end-color: Magenta; }
  33% { border-inline-end-color: yellow; }
  66% { border-inline-end-color: Cyan; }
  100% { border-inline-end-color: Magenta; }
}
.gaming-border-block-start-color {
  animation: gaming-border-block-start-color 5s linear infinite;
}
@keyframes gaming-border-block-start-color {
  0% { border-block-start-color: Magenta; }
  33% { border-block-start-color: yellow; }
  66% { border-block-start-color: Cyan; }
  100% { border-block-start-color: Magenta; }
}
.gaming-border-block-end-color {
  animation: gaming-border-block-end-color 5s linear infinite;
}
@keyframes gaming-block-end-color {
  0% { border-block-end-color: Magenta; }
  33% { border-block-end-color: yellow; }
  66% { border-block-end-color: Cyan; }
  100% { border-block-end-color: Magenta; }
}

/*画像の色*/
.gaming-filter {
  animation: gaming-filter 5s linear infinite;
}
@keyframes gaming-filter {
  0% { filter: hue-rotate(0deg); }
  33% { filter: hue-rotate(120deg); }
  66% { filter: hue-rotate(240deg); }
  100% { filter: hue-rotate(360deg); }
}

.gaming-fill {
  animation: gaming-fill 5s linear infinite;
}
@keyframes gaming-fill {
  0% { fill: Magenta;  }
  33% { fill: yellow;  }
  66% { fill: Cyan; }
  100% { fill: Magenta;  }
}

